/* Reset some default styles */

body {
    font-family: poppins;
    text-align: center;
    margin: 0;
    padding: 0;
}


/* Container for the tabs */

.tabs {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center items vertically */
    background-color: #F1E4E8;
}

/* Style for the title */

.tabs h1 {
    margin: 0; /* Remove default margin */
    padding: 0;
    font-size: 36px;
}

/* Style for the tab buttons */

.tab1-button {
    transition: background 0.3s ease, color 0.3s ease;
    display: flex;
    cursor: pointer;
    width: 350px;
}

.tab2-button {
    transition: background 0.3s ease, color 0.3s ease;
    display: flex;
    cursor: pointer;
    width: 326px;
}


/* Style the content area */
.tab1-content {
    width: 100%;
    height: 1000px;
    margin: 0;
    background: #CEB1BE;
    border-radius: 5px;
    overflow: hidden;
}

.tab2-content {
    width: 100%;
    height: 1000px;
    margin: 0;
    background-color: #B97375;
    border-radius: 5px;
    overflow: hidden;
}

/* Style the iframe inside the tab content */
iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.dropdown-container {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
 }
 
 
 select {
    padding: 8px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
 }
 
 
 .hidden {
    display: none;
 }

 button2, button1, button3, button4, button5, button6, button7, button8, button9, button10, button11, button12, button13, button14, button15, button16, button17, button18, button19, button20, button21, button22, button23, button24, button45, button25,  button26, button27, button28, button29, button30, button31, button32, button33, button34, button35, button36, button37, button38, button40, button39, button41, button42, button43, button44, button45, button46, button47, button48, button49, button50, button51, button52, button53, button54, button55, button56, button57, button58, button59, button60, button61, button62, button63, button64, button65, button66 {
    border-radius: 10px;
    display: inline-block;
    padding: 10px 15px;
    margin: 10px;
    border: none;
    background-color: #F1E4E8;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
 }
 
 
 button2:hover {
    background-color: #ebc9d3;
 }
 
 button1:hover{
    background-color: #B97375;
 }
 
 #buttonContainer1, #buttonContainer2, #buttonContainer3, #buttonContainer4 {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #B97375;
    border-radius: 5px;
    background-color: #B97375;
 }
 
 
 
 
 